.application-fill {
  fill: fb-cyan;
}
.app-gradient-background {
  fill: fb-cyan;
}
.foreground-fill {
  fill: fb-white;
}
.background-fill {
  fill: fb-black;
}

.marker {
  fill: cyan;
  font-family: System-Bold;
  font-size: 30;
  font-weight: bold;
}
